<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Your Course order is confirmed</h1>
        <p>And we are just as excited as you are.</p>
      </div>
      <br />
      <br />
      <div>
        <h4>Here is what you ordered</h4>
        <table>
          <tr>
            <td>Order #: <%= order._id %></td>

            <td>Order Date: <%= order.date %></td>
          </tr>
        </table>
        <table>
          <tr>
            <td>Item</td>
            <td>Quantity</td>
            <td>Cost</td>
          </tr>
        </table>

        <table>
          <tr>
            <td><%= order.name %></td>
            <td>1</td>
            <td>$<%= order.price %></td>
          </tr>
        </table>

        <table>
          <tr>
            <td>Subtotal</td>
            <td>$<%= order.price %></td>
          </tr>
        </table>

        <table>
          <tr>
            <td>Total</td>
            <td>$<%= order.price %></td>
          </tr>
        </table>
      </div>

      <div>
        <p>If questions contact - - -</p>

        <p>&copy; 2024</p>
      </div>
    </div>
  </body>
</html>
